In [1]:
from utils.consts import *

from utils.utilities import (
    test, show_dep, get_data, get_nominal_subjects, get_prep, get_objects, get_root, _is_verb, get_aux,
    check_if_wh, get_csubj, get_amod, get_actual_subtree_for_finding_agg, get_subtree_list)

import pickle
import json
import random
import json
from IPython.display import Markdown, display
from pprint import pprint
import numpy as np

import spacy
PIPE = spacy.load('en_coref_lg')

In [6]:
data_file = "./data_with_num/train_dataset.json"
data = get_data(data_file)

In [7]:
len(data)

34497

In [5]:
data[0]

{'phase': 1,
 'table_id': '1-10015132-11',
 'question': 'How many schools did player number 3 play at?',
 'sql': {'sel': 'School/Club Team',
  'conds': [['No.', '=', '3']],
  'agg': 'COUNT'},
 'header': ['Player',
  'No.',
  'Nationality',
  'Position',
  'Years in Toronto',
  'School/Club Team']}

In [9]:
def get_num(each_data):
    doc = PIPE(each_data['question'])
    candidates = list()
    for child in doc:
        if child.pos_ in ["NUM"]:
            candidates.append(child)
    return candidates

In [15]:
for each_data in data[:10]:
    print(get_num(each_data))

[2011]
[310, 329, 20]
[1998]
[468, 473, 6]
[2000]
[6]
[2012-present]
[2010, 2012]
[1995, 96]
[2001, 02]

In [16]:
data[7]

{'phase': 1,
 'table_id': '1-10015132-1',
 'question': 'What school did the player that has been in Toronto from 2010-2012 go to?',
 'sql': {'sel': 'School/Club Team',
  'conds': [['Years in Toronto', '=', '2010-2012']],
  'agg': ''},
 'header': ['Player',
  'No.',
  'Nationality',
  'Position',
  'Years in Toronto',
  'School/Club Team']}